.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100vh;
  padding: 1rem;
  flex-basis: 500px;
  overflow: hidden;
  border-right: 1px dashed peru;
}

.language {
  width: 100%;
  word-break: break-all;
}

.leftMessage {
  height: calc(100% - 60px);
  width: 100%;
  overflow: scroll;
}

.searchButton {
  height: 60px;
}

.right {
  flex: 1;
  padding: 1rem;
}

.assistantContent {
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 4px;
  color: black;
  display: flex;
  max-width: 500px;
  overflow-wrap: normal;
}

.userContent {
  margin-bottom: 10px;
  color: black;
  border-radius: 4px;
  padding: 4px;
  display: flex;
}

.headIcon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 4px;
}